@model MenuItemViewModel

<h2>Add New Menu Item</h2>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label class="form-label">Type</label>
        <select class="form-control" asp-for="MenuType" required>
            <option value="">Select Menu Type</option>
            <option value="Förrätt">Förrätt</option>
            <option value="Varmrätt">Varmrätt</option>
            <option value="Dessert">Dessert</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="MenuName" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description" required></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
