@{
    ViewData["Title"] = "Home Page";
}

<div class="front-image">
    <div class="text-center">
       @*  
         <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
        <img src="assets\south_park_city_wok_interior_2__unused_sot_bg__by_roamingberry_dd80x2e-pre.jpg" class="splash-image" alt="restaurant interior vine bottles" />
        <label class="image-label">City WOK</label>
    </div>
    <div class="about-container bg-primary">
        <h2 class="title-text text-black">City WOK</h2>
        <p class="about-text text-black">@Html.Raw(ViewData["AboutText"])</p>
    </div>
    <div>
        <img src="assets\south_park_city_wok_interior_1__unused_sot_bg__by_roamingberry_dd80ws9-pre.jpg" class="street-view" alt="street view of restraurnant" />
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/yohan-marion-iQ9uoQESaoM-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/assets/yohan-marion-LXgTOiEa1f0-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/assets/yohan-marion-Z2xMLM_X38c-unsplash.jpg" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
     
</div>

