@{
    ViewData["Title"] = "Home Page";
}

<div class="Front-image">
    <div class="text-center">
       @*   <h1 class="display-4">F*HUB</h1>
         <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
        <img src="assets/brandy-turner-nZ37ifip5VM-unsplash.jpg" class="splash-image" alt="Alternate Text" />
    </div>

</div>

