html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.splash-image{
    width:100%;
    height:auto;
}
.main-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    padding: 0.5rem 1rem;
}
.nav-brand{
    display:flex
    align-content:flex-start
}

.header-items{
    display:flex;
    justify-content:flex-end;
}

.front-image{
    position:relative;
    
}

.image-label{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 15vw;
    font-weight: bold;    
    padding: 10px 20px;
    border-radius: 5px;
}

.center-test {
    position: absolute; /* Make it position relative to the parent container */
    left: 50%; /* Move it to the middle of the container horizontally */
    transform: translateX(-50%); /* Adjust its position by half of its own width to center it */
    font-size: 24px; /* Optional: Increase font size for visibility */
    font-weight: bold;
}