html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.splash-image{
    width:100%;
}
.main-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    padding: 0.5rem 1rem;
}
.nav-brand{
    display:flex
    align-content:flex-start
}

.header-items{
    display:flex;
    justify-content:flex-end;
}

.home-start{

}