@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="menu-placement bg-secondary">
    <div class="card " style="width: 35rem;">
        <div class="card-header bg-primary text-white">
            Förrätt
        </div>
        <ul class="list-group list-group-flush menu-border">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
    </div>

    <div class="card " style="width: 35rem;">
        <div class="card-header bg-primary text-white">
            Varmrätt
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="menu-placement bg-secondary">
    <div class="card " style="width: 35rem;">
        <div class="card-header bg-primary text-white">
            Dessert
        </div>
        <ul class="list-group list-group-flush menu-border">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    Klassisk biff tartar 185 spänn
                </div>
                <div class="menu-description">
                    <em>Silverlök, rödbetor, kapris, dijonnaise</em>
                </div>
            </li>
        </ul>
    </div>

    <div class="card " style="width: 35rem;">
        <div class="card-header bg-primary text-white">
            Dryck
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-secondary text-white">
                <div class="menu-name ">
                    HALSTRAD RÖDING 315 spänn
                </div>
                <div class="menu-description">
                    <em>ROSTADE ROTFRUKTER, RÄDISA, PICKLAD SILVERLÖK OCH HUMMERVELOUTÉ</em>
                </div>
            </li>
        </ul>
    </div>

</div>
